

table{
    margin-top: 17px;
    width: 80%;
    font-size: 11.4px;
    
    margin-left: auto;
    margin-right: auto; 
   

}
/*mediaquery si el zoom del navegador es 100% ponerlo en 90*/
@media screen and (max-width: 1240px) {
    table{
        
    }
}
table td {
    width: 60%;
    font-size: 11px;
  }

  /*achicar los th*/


    table th {
        font-family: Arial, Helvetica, sans-serif;
        width: 40%;
        font-size: 10px;
    }

/*centrar el btn*/
.btn{
    margin-left: auto;
    margin-right: auto;
    display: block;
    width: 60%;
    margin-top: 10px;
    margin-bottom: 10px;
}


 