
 
<table id="expedientes" class="table table-dark animate__animated animate__fadeIn  "  >
    <thead>
        <tr>
                            <th scope="col">ID</th>
							   <th scope="col">Nombre</th>
							<th scope="col">Fecha</th>
							<th scope="col">UltimoMov</th>
							<th scope="col">N_Liquidacion</th>
							<th scope="col">Objeto</th>
							<th scope="col">InicioDemanda</th>
							<th scope="col">Monteo_N_Juicio</th>
							<th scope="col">Juzgado</th>
							<th scope="col">Notif_DDA</th>
							<th scope="col">Sentencia_Ejecucion</th>
							<th scope="col">Liquidacion</th>
							<th scope="col">Embargo</th>
							<th scope="col">Autorizacion_Desig</th>
							<th scope="col">Propuesta</th>
							<th scope="col">Tramite</th>
							<th scope="col">Domicilio</th>
							<th scope="col">Cuit_Dni</th>
							<th scope="col">Matricula</th>
							<th scope="col">Telefono</th>
							<th scope="col">AccionesCobro</th>
							<th scope="col">Eliminar</th>
							<th scope="col">Editar</th>
		

							
          </tr>
    </thead>
	

    <tbody *ngFor="let item of resultados " >
		<tr ><td>
			{{item.id}}
		</td>
		<td>
			{{item.nombre}}
		</td>
		<td>
			{{item.fecha}}
		</td>
		<td>
			{{item.ultimoMovimiento}}
		</td>
		<td>
			{{item.n_liqudacion}}
		</td>
		<td>
			{{item.objeto}}
		</td>
		<td>
			{{item.inicioDemanda}}
		</td>
		<td>
			{{item.monteo_N_Juicio}}
		</td>
		<td>
			{{item.juzgado}}
		</td>
		<td>
			{{item.notif_DDA}}
		</td>
		<td>
			{{item.sentencia_Ejecucion}}
		</td>
		<td>
			{{item.liquidacion}}
		</td>
		<td>
			{{item.embargo}}
		</td>
		<td>
			{{item.autorizacion_Desig}}
		</td>
		<td>
			{{item.propuesta}}
		</td>
		<td>
			{{item.tramite}}
		</td>
		<td>
			{{item.domicilio}}
		</td>
		<td>
			{{item.cuit_Dni}}
		</td>
		<td>
			{{item.matricula}}
		</td>
		<td>
			{{item.telefono}}
		</td>
		<td>
			{{item.accionesCobro}}
		</td>
		<td>
			<a href="#" onclick="Eliminar()" style="width: auto;" class="btn btn-danger btn-circle btn-sm"><i class="fas fa-trash"></i></a>
		</td>
		<td>
			<a href="#" onclick="Editar()" style="width: auto;" class="btn btn-warning btn-sm"><i class="fas fa-edit"></i></a>
		</td>
			
		
     
    </tbody>
	
  </table>
  <mat-paginator [length]="resultados.length" [pageSize]="5" [pageSizeOptions]="[2, 10, 25, 100]"></mat-paginator>
 

  

  
 

 
<table mat-table [dataSource]="resultados" class="mat-elevation-z8">
	
  <ng-container [matColumnDef]="column" *ngFor="let column of displayedColumns">
    <th mat-header-cell *matHeaderCellDef>{{ column }}</th>
    <td mat-cell *matCellDef="let per">{{ per[column] }}</td>
	
		
  </ng-container>

  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let emprow; columns: displayedColumns"></tr>
</table>
<mat-paginator [length]="resultados.length" [pageSize]="2" [pageSizeOptions]="[2, 10, 25, 100]" >

</mat-paginator>